.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    box-shadow: 8px 8px 6px #888888;
    
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.product-info{
    margin: 0 14px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background-color: #f5cbcb;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 8px 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.btn-cart:hover{
    background-color: #f76363;
}
.btn-text{
    margin-right: 5px;
}